{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },
  "rules": {
    "no-unused-vars": 1,
    "no-redeclare": 1,
    "angular/window-service": 0
  }
}
