/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@font-face {
  font-family: "SegoeUIRegular";
  src: url("../assets/fonts/SegoeUIRegular.eot");
  src: url("../assets/fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
  url("../assets/fonts/SegoeUIRegular.woff") format("woff"),
  url("../assets/fonts/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Icon";
  src: url("../assets/fonts/icons.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
